/** {
  outline: 1px solid red;
}*/

header {
  text-align: center;
}
section, footer {
  text-align: center;
}
h2 {
  padding: 25px;
}
p {
  padding: 25px;
}
.side-by-side {
  display: inline-block;
}
